/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.env.example
/README.md
/storage/
/.styleci.yml
/server.php
/webpack.mix.js
/database/.gitignore
